body{
	background-color: rgb(255, 244, 244);
}
.non-guessed-count{
	text-align: center;
	font-size: 30px;
}
.wrapper{
	display: flex;
	justify-content: center;
}
.fill__input{
	font-size: 18px;
}
.fill__textarea{
	resize: vertical;
	min-height: 250px;
	font-size: 20px;
}
.fill__settings{
	position: absolute;
	top: 20px;
	left: 20px;
	
}
.fill__settings-create-btn{
	font-size: 20px;
}
.fill__settings-save-btn{
	font-size: 20px;
	display: none;
}
.fill__settings-save-btn._active{
	display: block;
}
.fill__settings-panel{
	border: gray 1px solid;
	padding: 10px;
	transform: translateY(-100%);
	opacity: 0;
	visibility: collapse;
	transition: all .3s;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	height: 0;
	background-color: rgb(247, 255, 250);
}
.fill__settings-panel *:not(:last-child){
	margin-bottom: 10px;
}
.fill__settings._active .fill__settings-panel{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
	height: auto;
}

.fill__grid{
	display: grid;
	width: max-content;
	height: max-content;
	margin-right: 30px;
}
.fill__char{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	width: 50px;
	height: 50px;
	color: white;
	background-color: rgb(1, 168, 1);
	border: green 2px solid;
	user-select: none;
}
.fill__char input{
	width: 50%;
	font-size: 18px;
	text-align: center;
}
.fill__char._active{
	border: rgb(255, 0, 200) 2px solid;
}
.fill__char._disabled{
	background-color: rgb(157, 224, 157);
}
.teams {
	display: flex;
	flex-direction: column;
}

.team {
	padding: 4px;
	width: 300px;
	background-color: rgb(194, 47, 47);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4px;
	border: 5px transparent solid;
	color: white;
}
.team._selected{
	border: 5px rgb(255, 2, 158) solid;
	box-shadow: 0 0 20px 0 rgb(255, 2, 158);
}
.team._selected .skip-btn{
	display: block;
}
.team:nth-child(2){
	background-color: rgb(59, 59, 255);
}
.team:nth-child(3){
	background-color: rgb(18, 138, 18);
}
.team:nth-child(4){
	background-color: rgb(143, 32, 143);
}
.team-score{
	font-size: 26px;
}
.skip-btn{
	display: none;
	font-size: 20px;
}